<div class="container">
  <!-- <ng-content></ng-content> -->

  <div class="row">

    <div class="col" *ngFor="let chapter of totalChapters" >
       <app-chapter-summary [chapter]="chapter"></app-chapter-summary>
    </div>

  </div>

  <nav class="navbar mt-4">
   <div class="navbar-expand m-auto navbar-text">
     <div class="">
       <button type="button" class="btn btn-dark" (click)="openSummaryModal('summary-modal')" name="button">My Assesment <i class="fa fa-line-chart"></i></button>
     </div>
    <!-- <app-summary></app-summary> -->
   </div>
  </nav>

  <jw-modal class="modal" id="summary-modal">
      <app-summary></app-summary>
      <button type="button" class="btn btn-outline-dark" (click)="closeSummaryModal('summary-modal');">Close</button>
  </jw-modal>

</div>
