<div class="container">
  <!-- <ng-content></ng-content> -->

  <div class="display-1 text-center">
    <h1>Dashboard</h1>
  </div>

  <div class="row">
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect mb-5">
            <img class="img-responsive" src="../../../assets/healthcare.png" alt="">
                <div class="overlay">
                    <h2>Healthcare</h2>
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
       <div class="hovereffect mb-5">
           <img class="img-responsive" src="../../../assets/agriculture.png" alt="">
               <div class="overlay">
                   <h2>Agriculture</h2>
               </div>
       </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect mb-5">
          <img class="img-responsive" src="../../../assets/renewableenergy.png" alt="">
              <div class="overlay">
                  <h2>Renewable Energy</h2>
              </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
       <div class="hovereffect mb-5">
           <img class="img-responsive" src="../../../assets/machinelearning.jpg" alt="" onclick="loadCourse()">
               <div class="overlay">
                   <h2>Machine Learning</h2>
                   <a class="info" href="/dashboard">open</a>
               </div>
       </div>
    </div>

 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect mb-5">
        <img class="img-responsive" src="../../../assets/education.png" alt="">
            <div class="overlay">
                <h2>Education</h2>
            </div>
    </div>
</div>
  </div>

</div>
