<div class="container">
  <h4>Summary</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Number of lessons taken</th>
        <th>Avg. time taken</th>
        <th>No. of questions attempted</th>
        <th>Avg. pace</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5</td>
        <td>30</td>
        <td>17</td>
        <td>25 min</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class="navbar-expand m-auto navbar-text">
    <h2>Summary</h2>
    <div class="row  border border-dark">
    <div class="col border-right border-dark">Number of lessons taken: 22</div>
    <div class="col border-right border-dark">Avg. time taken: 30 min</div>
    <div class="col border-right border-dark">No. of questions attempted: 25</div>
    <div class="col">Avg. pace: 40 min</div>
  </div>
</div> -->
