<div id="container" class="container-fluid">
  <div id="header" class="">
      <app-header></app-header>
  </div>
  <!-- <div class="container">
    <ng-content></ng-content>
  </div>
   <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <app-chapter-summary></app-chapter-summary>
    </div>
  </div>

  <nav class="navbar mt-4">
    <div class="navbar-expand m-auto navbar-text">
      <app-summary></app-summary>
    </div>
  </nav> -->
  <div  id="content" class="" style="margin-top:7%;margin-bottom:5%;">
    <router-outlet></router-outlet>
  </div>
  <div  id="footer" class="">
      <app-footer></app-footer>
  </div>

</div>
