<div class="container">
  <!-- <ng-content></ng-content> -->

  <div class="display-1 text-center">
    <h2>Trainer Dashboard</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
       <div class="mb-5">
           <img class="img-responsive" src="../../../assets/Module_Selection.png" alt="">
       </div>
    </div>

    <div class="col-md-6">
      <div class="mb-5">
          <img class="img-responsive" src="../../../assets/Modulewise_Score_Distribution_per_attempt.png" alt="">
      </div>
    </div>

    <div class="col-md-6">
       <div class="mb-5">
           <img class="img-responsive" src="../../../assets/Scores.png" alt="">
       </div>
    </div>

    <div class="col-md-6">
       <div class="mb-5">
           <img class="img-responsive" width="500" height="300" src="../../../assets/best_path.PNG" alt="">
       </div>
   </div>

  </div>

</div>
